.settings-container {
    position: fixed;
    top: 47px;
    right: 20px;
    padding: 5px;
    z-index: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    border: 1px solid light-dark(black, #ccc);
    border-radius: 8px;
    background-color: light-dark(rgba(230, 230, 230, 0.3), rgba(25, 25, 25, 0.3));
    user-select: none;
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-600px);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-600px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-out-up {
    animation: fadeOutUp 0.5s forwards;
}

.fade-in-down {
    animation: fadeInDown 0.5s forwards;
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.toggle-settings-button {
    position: fixed;
    top: 10px;
    right: 20px;
    border: 1px solid light-dark(black, #eee);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    background-color: transparent;
}

.toggle-settings-button:hover {
    background-color: light-dark(#ddd, #333);
}

.settings-icon {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    filter: grayscale(1) brightness(0); /* Default for light mode: black */
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .settings-icon {
        filter: grayscale(1) brightness(0.8) invert(1); /* #ccc for dark mode */
    }
}

.rotate {
    animation: rotateIcon 0.5s;
}

.transpose-container {
    position: relative;
    right: 0px;
    border: 1px solid light-dark(black, #ccc);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    color: light-dark(black, white);  
}

.transpose-text {
    color: light-dark(black, white);
    font-weight: bold;
    margin-bottom: 5px;
}

.transpose-key {
    color: light-dark(black, white);
    font-weight: bold;
    margin-top: 5px;
}

.toggle-button {
    display: flex;
}

.plus-sign,
.transpose-value,
.minus-sign {
    width: 20px;
    height: 20px;
    border: 1px solid light-dark(black, #ccc);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.plus-sign:hover,
.minus-sign:hover {
    background-color: light-dark(#ddd, #333);
}

.presets-container {
    position: relative;
    top: 5px;
    border: 1px solid light-dark(black, #ccc);
    border-radius: 10px;
    margin-bottom: 10px;
}

.presets {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 3vh;
    padding: 5px;
}

.presets:not(:first-child) {
    border-top: 1px solid light-dark(black, #ccc);
}

.presets:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.presets:not(:first-child):hover {
    cursor: pointer;
    background: light-dark(#ddd, #222);
}

.flow-container {
    position: relative;
    border-radius: 10px;
}

.flow-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 2vh;
    /* padding-top: 10px; */
}

#flowList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#flowList li {
    padding: 2px 0;
}

.hide-chords-button {
    position: relative;
    top: 5px;
    border: 1px solid light-dark(black, #ccc);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 3vh;
    padding: 5px;
}

.hide-chords-button:hover {
    cursor: pointer;
    background: light-dark(#ddd, #222);
}