.sidebar {
    position: absolute;
    left: 0;
    margin: 0;
    width: 250px;
    background-color: light-dark(rgba(17, 17, 17, 0.85), rgba(25, 25, 25, 0.85));
    color: #fff;
    padding: 20px;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 3;
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    scrollbar-width: none;
}

.sidebar img {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    filter: grayscale(1) brightness(0);
}

@media (prefers-color-scheme: dark) {
    .sidebar img {
        filter: grayscale(1) brightness(0.8) invert(1); /* #ccc for dark mode */
    }
}

.rotate {
    animation: rotateIcon 0.8s;
    animation-iteration-count: infinite;
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sidebar.show {
    transform: translateX(0);
}

.sidebar.show+.openbtn {
    left: 290px;
}

.sidebar:not(.show)+.openbtn {
    left: 0px;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.welcome-text {
    color: #007bff;
    margin-top: 0;
    padding-top: 0;
}

.search-bar {
    width: 230px;
    line-height: 1.5vh;
    border-radius: 10px;
    padding: 0.5vh;
}

.active-list,
.song-list {
    list-style: none;
    padding: 0;
    border-top: 1px solid #fff;
    padding-top: 20px;
}

.song-list[title]::before,
.active-list[title]::before {
    content: attr(title);
    display: block;
    font-size: 15px;
    line-height: 30px;
    color: #aaa;
    font-weight: bold;
}

.active-list li,
.song-list li {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.active-list li:hover,
.song-list li:hover {
    text-decoration: none;
}

.openbtn {
    position: fixed;
    top: 0;
    left: 290px;
    font-size: 20px;
    cursor: pointer;
    background-color: light-dark(rgba(17, 17, 17, 0.85), rgba(25, 25, 25, 0.85));
    color: white;
    padding: 10px 18px;
    border: none;
    height: 6vh;
    max-height: 6vh;
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
    z-index: 3;
}