.lyrics-container {
    width: 100%;
    height: 90%;
    position: relative;
    padding: 20px;
    max-width: 100vw;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    z-index: 0;
    scroll-behavior: smooth;
    font-size: 0.85em;
}

.lyrics-outer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    overflow-x: auto;
}

.lyrics-container h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 24px;
    color: light-dark(#333, #ddd);
}

.lyrics-container h2 {
    margin-top: 10px;
    font-size: 18px;
    color: light-dark(#555, #bbb);
}

.label {
    font-family: "Roboto", sans-serif;
    color: light-dark(#444, #ccc);
}

.row {
    border-collapse: collapse;
    font-family: "Roboto Mono", sans-serif;
    table-layout: fixed;
}

.lyrics {
    padding: 0px;
    width: max-content;
    white-space: pre-wrap;
    color: light-dark(#444, #ccc);
}

.chord {
    padding-right: 10px;
    color: #0067d4;
}

.hide-chords .chord {
  display: none;
}